.inputg {
  @apply flex border rounded-xl focus-within:ring-2 focus-within:ring-blue-400 sm:w-[300px] w-[250px];
}

.inputext {
  @apply w-full rounded-xl py-3 px-5 bg-slate-50 outline-none border-none;
}

.spantext {
  @apply flex items-center px-2;
}

.inputext + * {
  color: #cbd5e1;
}

.inputext:focus + * {
  color: #6366f1;
}

.inputext:not([type="email"]) ~ span:hover * {
  color: #6366f1;
  cursor: pointer;
}

.smalltext {
  @apply absolute block mx-2 text-red-500;
}
